:root {
  /* colors */
  --primary-color: #0f0f0f;
  --font-color-white: #ffffff;
  --secondary-color: #643dff;
  --app-background-color: #f5f7fa;
  --foreground-color: #3b3b4f;
  --highlight-color: #0d0521;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-headline: "Roboto", sans-serif;
  --font-family: "Outfit", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

nav {
  width: 350px;
}

nav > ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

li {
  list-style: none;
}

.site-branding {
  display: flex;
  align-items: center;
}
