{% extends 'base.html' %} {% block body%}
<main>
  <div class="assessment-area">
    <div class="assessment-container">
      <h3>
        On this stage, we want you to answer various questions for us to better
        assess your condition.
      </h3>
      <p>Please answer the questions as clearly as possible.</p>
      <div class="question-area">
        <div class="question">
          <div class="question-left-side">
            <div id="question-number">
              <p id="question-count"></p>
              <p id="assessment-question"></p>
            </div>
            <input id="input-box" type="text" placeholder="Answer here" />
          </div>
        </div>
      </div>
      <div class="navigation-buttons">
        <button class="button inactive" id="previous-question">Previous</button>
        <button class="button" id="next-question">Next</button>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='script/assessment.js') }}"></script>
{% endblock %}
