{% extends 'base.html' %} {% block body%}
<main>
  <div class="assessment-area">
    <div class="assessment-container">
      <div>
        <h3>
          On this stage, we want you to answer various questions for us to
          better assess your condition.
        </h3>
        <p>Please answer the questions as clearly as possible.</p>
      </div>
      <div class="form-container">
        <form action="/result" class="assessment-form" id="assessment-form">
          <div id="form-contents">
            <!-- <div
              class="question-and-number-container"
              id="question-and-number-container"
              >
              <p id="question-number">Question</p>
              <label class="question" id="question" for=""></label>
            </div>
            <input id="input-box" type="text" placeholder="Answer here" /> -->
          </div>
          <div class="navigation-buttons">
            <button
              type="button"
              class="button inactive"
              id="previous-question"
            >
              Previous
            </button>
            <button type="button" class="button" id="next-question">
              Next
            </button>
            <button type="submit" class="button hide" id="submit">
              Generate
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='script/assessment1.js') }}"></script>
{% endblock %}
