<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IConsult</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="site-branding">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="icon"
        />
        <h1>IConsult</h1>
      </div>
      <nav>
        <ul>
          <li>Home</li>
          <li>Diagnosis</li>
          <li>Dashboard</li>
          <li>Account</li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="tagline-section">
        <h2>A healthier tomorrow starts here</h2>
        <p>
          Say Goodbye to Long Waits and Confusion! With Our Convenient Platform,
          Pre-Checkups are Fast, Easy, and Right at Your Fingertips!
        </p>
        <div>
          <a href="diagnosis.html"
            ><button class="solid-button">Start diagnosis</button></a
          >
          <button class="ghost-button">Find doctors</button>
        </div>
      </div>
      <div class="image-section">
        <img
          src="{{ url_for('static', filename='images/hospital-dashboard.png') }}"
          alt="hospital-dashboard"
        />
      </div>
    </main>
  </body>
</html>
